/* ----------GERAL---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --primary-color: hsl(170, 100%, 26%);
  --primary-light-color: hsl(152, 23%, 89%);
  --bg-light: hsl(180, 14%, 97%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --numbers-background: hsl(39, 100%, 97%);
  --menu-height: 7.2rem;
}

ul {
  list-style: none;
}

section {
  padding-block: 10rem;
}

h2 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--headline);
}

h4 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;

  color: var(--primary-color);
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--paragraph);
}

/* ----------CONTEÚDO---------- */
html {
  /* smooth scrolling */
  scroll-behavior: smooth;
}

html,
body {
  /* pra não dar B.O. e aparecer umas barras de rolagem minusculas na tela */
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;

  overflow: overlay;
  background-color: var(--bg-light);
}

.contentatt {
  width: 37.5rem;

  margin-inline: auto;
  padding-inline: 2.4rem;
}

nav {
  /* padding: 1.6rem 2.4rem; */
  height: var(--menu-height);
  background-color: var(--primary-light-color);

  display: flex;

  /* 
  Para garantir fixado no meio, torna-se 'fixo', cria um margin para 50% no meio da tela e depois translada 50% do tamanho do objeto!*/
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

nav .contentatt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 2.4rem;
}

nav.scroll {
  background: var(--primary-color);
}

/* find by xpath //nav[@class='scroll']//*[local-name() = 'svg'] */
nav.scroll .logo svg path {
  fill: white;
}

nav.scroll .open-menu svg path {
  stroke: white;
}

nav .open-menu {
  background-color: transparent;
  border: none;
}

nav button {
  cursor: pointer;
}

/* -----CLOSE MENU------ */
body .menu,
.close-menu {
  visibility: hidden;
}

body .open-menu {
  visibility: visible;
}

.menu {
  /* hide menu completely */
  transform: translateY(100%);
}

/* -----OPENED MENU------ */
body.opened-menu {
  /* hide scroll bars */
  overflow: hidden;
}

/* body.opened-menu > * --> erase all the children */
body.opened-menu > :not(nav) {
  visibility: hidden;
}

/* See opened menu, X button and logo*/
body.opened-menu .menu,
body.opened-menu .close-menu {
  visibility: visible;
}
body.opened-menu nav .contentatt {
  padding-right: 2.4rem;
}

body.opened-menu .close-menu {
  position: relative;
  z-index: 10;
  background-color: transparent; /*or background:none*/
  border: none;
  padding-right: 1.3rem; /*oqq houve??*/
}

body.opened-menu .logo {
  position: relative;
  z-index: 10;
}

body.opened-menu .logo svg path {
  fill: white;
}

/* Hide the 'open-menu' button */
body.opened-menu .open-menu {
  visibility: hidden;
}

body.opened-menu .menu {
  position: fixed;
  top: 0;
  left: 0;

  background-color: var(--primary-color);
  width: 100vw;
  height: 100vh;

  transition: transform 200ms;
  transform: translateY(0);
}

body.opened-menu ul:nth-child(1) {
  margin-top: calc(6rem + var(--menu-height));

  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  text-decoration: none;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;

  /* 'text-decoration' and 'color' doesn't work in 'ul' properties */
  /* text-decoration: none;
  color: var(--numbers-background); */
}

body.opened-menu ul li a {
  text-decoration: none;
  color: var(--numbers-background);
}

body.opened-menu .button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-inline: auto;
  margin-top: 4.8rem;

  width: 27.4rem;
  height: 5.5rem;
  border-radius: 4rem;

  background-color: white;

  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-color);
}

.social-links {
  margin-top: 8rem;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 3.4rem;
}

/* -----content in landing page----- */

#home {
  padding-top: calc(4.1rem + var(--menu-height));
}

/* before content in header */
#home::before {
  content: '';
  background-color: var(--primary-light-color);
  height: calc(108rem + var(--menu-height));
  width: 100%;

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home .contentatt h4 {
  margin-bottom: 1.6rem;
  /* margin-top: 8.1rem; */
}

#home h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

#home p {
  font-size: 1.8rem;
  color: var(--paragraph);
  line-height: 150%;
  font-weight: 400;

  margin-bottom: 3.2rem;
}

#home button {
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;

  background-color: var(--primary-color);
  border: none;
  border-radius: 4rem;
  height: 6.2rem;
  width: 26.3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 6rem;
}

#home img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 0.5rem;
}

#home .numbers {
  width: 32.7rem;
  /* height: 47rem; */
  padding-block: 4rem;

  margin-inline: auto;

  background-color: var(--numbers-background);

  border: 1px solid #dce9e2;
  border-radius: 0.6rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

/* .numbers div {
  margin: 6rem 8rem;
} */

header h3 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 130%;
  color: var(--headline);

  margin-bottom: 0.4rem;
}

#home .numbers div p {
  color: var(--primary-color);
  margin: 0;
}

/* ------SERVICE PAGE------ */
#services header h4 {
  margin-bottom: 1.6rem;
  text-transform: uppercase;
}

#services header h2 {
  margin-bottom: 6rem;
}

#services .card-services {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card-services .card {
  /* height: 20.7rem; */
  padding: 2.4rem;

  text-align: left;

  background-color: white;
  border: 1px solid #dce9e2;
  border-radius: 0.6rem;

  /* display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 2.4rem;
  gap: 1.6rem; */
}

#services .card h3 {
  margin-block: 1.6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;

  color: var(--headline);
}

/* ------ABOUT PAGE------ */
#about {
  background-color: var(--numbers-background);
}

#about h4 {
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

#about h2 {
  margin-bottom: 2.4rem;
  text-align: left;
}

#about p {
  margin-bottom: 6rem;
  text-align: left;
}

#about img {
  width: 32.7rem;
  height: 28.2rem;
  border-radius: 1rem;
}
